@model List<ProductType>
@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="row">
    <div class="list-group col-lg-3 col-md-6 col-sm-12" style="margin-bottom:10px;">
        <a class="list-group-item list-group-item-action active">Category</a>
        @foreach (var product in Model) {
            <a asp-action="IndexWhere" asp-route-ProductType="@product.Name" class="list-group-item list-group-item-action"><i>@product.Name</i></a>@*onclick = "location.href='Home/IndexWhere?ProductType=@product.Name'" *@
        }
    </div>
    @if (ViewBag.LastProducts is not null) {
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="row">
                @foreach (var product in ViewBag.LastProducts) {
                    <div class="col-lg-6">
                        <div class="card" style="width:20rem ; margin-bottom:15px">
                            <img src="~/images/@product.Image" class="card-img-top image" alt="@product.Name">
                            <div class="card-body">
                                <h5 class="card-title"><i>@product.Name</i></h5>
                                <p class="card-text" style="color:red"><b>Price:</b> @product.Price $</p>
                                <div class="text-right">
                                    <a asp-action="MoreInfo" asp-route-id="@product.Id" class="btn btn-outline-success">More info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
